/* Place your CSS styles in this file */

h1 {
    text-align: center;
    font-family: "Mononoki", monospace;
    font-weight: normal;
}

h4 {
    text-align: center;
    font-family: "Mononoki", monospace;
    font-weight: normal;
}

ul {
    font-family: "Monaco", monospace;
    font-weight: lighter;
}

p {
    font-family: "Monaco", monospace;
    font-weight: normal;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
