/* CSS stuff */
:root {
  --f-red: #cd212a;
  --bg: #1d1d1d; 
}

body {
    background-color: var(--bg);
    color: #ffffff;
    font-family: "Mononoki", monospace;
}

br {
    display: block;
    content: ""; 
    margin-top: 0; 
}

.menu {
    list-style: none;
}

.navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px;
   background-color: var(--f-red);
   color: #ffffff;
}

.navLinks li a {
   color: #ffffff;
}

.logo {
   font-size: 32px;
   color: var(--bg);
   padding: 10px
}

.logo a:hover{
  background-color: var(--bg);
  border-radius: 5px;
  transition: 0.3s ease;
  color: var(--f-red);
}

.menu {
   display: flex;
   font-size: 18px;
}

.menu li:hover {
   background-color: var(--bg);
   border-radius: 5px;
   transition: 0.3s ease;
}

.menu li {
   padding: 5px 14px;
}

p > a:link {
    color: #b3ff0f;
    background-color: transparent;
    text-decoration: none;
}

p > a:visited {
  color: #b3ff0f;
  background-color: transparent;
  text-decoration: underline;
}

p > a:hover {
    background-color: transparent;
    text-decoration: underline;
}

p > a:active {
    color: #b3ff0f;
    background-color: transparent;
    text-decoration: underline;
}

h1 {
    text-align: center;
    font-family: "Mononoki", monospace;
    font-weight: normal;
}

h4 {
    text-align: center;
    font-family: "Mononoki", monospace;
    font-weight: normal;
}

ul {
    font-family: "Monaco", monospace;
    font-weight: lighter;
}

p {
    font-family: "Monaco", monospace;
    font-weight: normal;
}

footer {
    background-color: var(--f-red);
    color: var(--bg);
    padding: 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
