:root {
  --f-red: #cd212a;
  --bg: #1d1d1d; 
}

body {
    background-color: var(--bg);
    color: white;
    text-align: center;
    font-family: "Mononoki", monospace;
 }

.menu {
  list-style: none;
}

.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px;
 background-color: var(--f-red);
 color: white;
}

.navLinks li a {
 color: white;
}

.logo {
  font-size: 20px;
  color: var(--bg);
}

.logo a:link {
  color: var(--bg);
  background-color: transparent;
  text-decoration: none;
}

.logo a:hover{
  background-color: var(--bg);
  border-radius: 5px;
  transition: 0.3s ease;
  color: var(--f-red);
}

.menu {
 display: flex;
 gap: 1em;
 font-size: 18px;
}

.menu li:hover {
 background-color: var(--bg);
 border-radius: 5px;
 transition: 0.3s ease;
}

.menu li {
 padding: 5px 14px;
}

a:link {
    color: var(--f-red);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
  color: var(--f-red);
  background-color: transparent;
  text-decoration: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    background-color: #a3da58;
    text-align: center;
}
